{% include '_header.twig' %}
  {% if record is defined %}
    {% set home = record %}
    {% if home.teaser is defined and home.teaser is not empty %}
      <h1>{{ home.teaser }}</h1>
    {% else %}
      <h1>Showcasing the work of final year ICT students.</h1>
    {% endif %}

    {% if home.body is defined and home.body is not empty %}
      <p>{{ home.body() }}</p>
    {% endif %}

    {# Tip: If you're curious what all of the available fields of this
      record contain, just use {{ print(home) }}, to print it all. #}

  {% else %}
    <p>
      {{ __('Content for home not found!') }}
      {{ __("You should set 'homepage:' in your 'app/config/config.yml' to an existing record.") }}
    </p>
  {% endif %}
{% include '_footer.twig' %}
