{% include '_header.twig' %}
  {% if record is defined %}
    {% set home = record %}
    <h1>{{ home.teaser }}</h1>

    <p>{{ home.templatefields.about_intro }}</p>

    {# Tip: If you're curious what all of the available fields of this
      record contain, just use {{ print(home) }}, to print it all. #}

  {% else %}
    <p>
      {{ __('Content for home not found!') }}
      {{ __("You should set 'homepage:' in your 'app/config/config.yml' to an existing record.") }}
    </p>
  {% endif %}
{% include '_footer.twig' %}
